{% extends "layout.html" %}
{% block content %}
  <div class="container">
      <h1>{{ startdate }}</h1>
    <canvas id="myChart"></canvas>
      <form class="form-signin", method="POST", action="/">
        <input type="date" name="date" class="bootstrap-datepicker" id="day">
        <button type="submit"> Draw graph back in 30 days. </button>
      </form>
  </div>
  <script>

    let startDate = new Date(Date.parse("{{ startdate }}")); //choose any Date
    let tempDataString = "{{ records }}"
    {#let tempDataString ="809;3800;1541;1146;2225;629;788;5622;2132;2321;4345;3432;3456;2321;2332;1234;1231;2123;1235;2356;1231;4543;2132;1234;2132;4342;1235;1456;2341;4353;4354;5433;2131;2145;3243;3256;2774;4560;809;3800;1541;1146;5942;2132;2131;5423;2131;1232;1233;4122;1245"; //choose any data#}
    //number of individual data should match the number of days since the startDate, or the line drawn will abruptly end in the middle of the graph
    //if there is no data available you can do "6342;1235;;;;;;;;;;2774;9560;809;" for all the days there is no data for. Will be parsed az ZERO automatically.
    DataEntryAndExecute(startDate, tempDataString); //this function automatically runs DrawGraph() as well. This is the "entry function" of the entire script

    function DataEntryAndExecute(firstDayDateInput, DataStringInput, chartType = "line"){ //chartType is a string, either "bar" OR "line"
      let timeLabelArray = [];
      let dataStringSplitArray = DataStringInput.split(';');
      let numberOfDaysElapsedUntilToday =  30;
      for (let i = 0; i < numberOfDaysElapsedUntilToday; i++){
        let dateOffset = (numberOfDaysElapsedUntilToday - i); //X days
        let tempDate = addDays(startDate, -dateOffset);
        let tempYear = tempDate.getFullYear();
        let tempMonth = tempDate.toLocaleString('default', {month:'short'});
        let tempDay = tempDate.getDate();

        timeLabelArray[i] = tempYear+ "-"+tempMonth+"-"+tempDay;
        }
      if(dataStringSplitArray.length <= numberOfDaysElapsedUntilToday) {
          let alertDate = new Date();
          alertDate.setTime(Date.now());
          alertDate.setTime(alertDate.getTime() - numberOfDaysElapsedUntilToday * 86400000);

          let alertYearStr = alertDate.getFullYear();
          let alertMonth = alertDate.toLocaleString('default', {month: 'short'});
          let alertDay = alertDate.getDate();
          alert("The date set is earlier than the amount of days there is data recorded for. You can go back for a maximum of " + dataStringSplitArray.length + " days.");
          return;
      }
      DrawGraph(timeLabelArray,dataStringSplitArray, chartType);
     }

    function addDays(date, days) {
      var result = new Date(date);
      result.setDate(result.getDate() + days);
      return result;
    }

    function DrawGraph(timeLabelArray, dataStringSplitArray, graphType) { //CHART.JS SCRIPT, CREATES A CHART OBJECT.
          var ctx = document.getElementById('myChart').getContext('2d');
          var graphBackgroundColor = 'lightblue';
          var graphBorderColor = '#6266ff';
          if (graphType != "line") graphBackgroundColor = '#797cff';
          let newDataArray = new Array();
          if (timeLabelArray.length < dataStringSplitArray.length){
             //alert ("timeLabelArray.length < dataStringSplitArray.length");
              for (let j = 0; j < timeLabelArray.length; j++){
                newDataArray[timeLabelArray.length-j-1] = dataStringSplitArray[dataStringSplitArray.length-j-1];
              }
          }
        if(window.bar != undefined) window.bar.destroy(); //fixes showing the previously loaded charts
        window.bar = new Chart(ctx, {
            type: graphType,
            data: {
              labels: timeLabelArray, //string array, each item is a single day parsed as string, from DataEntryAndExecute()
              datasets: [{
                fill:'origin',
                borderWidth:1,
                lineTension: 0.1,
                pointBackgroundColor: '#6266ff',
                pointBorderWidth: 0,
                pointRadius: 2,
                label: 'kW',
                backgroundColor:
                        graphBackgroundColor,
                borderColor: 'blue',
                data: newDataArray //string array, each item is an individual kW consumption data for an individual day.
              }]
            },

            options: {
              title:{
                display:true,
                text: "Daily electric consumption for the past "+timeLabelArray.length+" days",
                fontSize:30
              },
            }
          });
      }

      function GetDateViaUserInput() {
        let year = document.getElementById("year").value;
        let month = document.getElementById("month").value;
        let day = document.getElementById("day").value;
        let tempDate = new Date();
        tempDate.setFullYear(year);
        tempDate.setMonth(month-1);
        tempDate.setDate(day);
        if (tempDate.getTime() > Date.now()) {
          alert("Can not use future date.");
          return;
        }
        if (year<1975 || year > new Date().getFullYear() ){
          alert ("Year can not be less than 1975 or more than the current year.");
          return;
        }
        if (day < 1 || day >31){
          alert ("Day can not be less than 1 or more than 31");
          return;
        }
        DataEntryAndExecute(tempDate,tempDataString);
      }
  </script>
{% endblock %}