<!-- templates/base.html -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Flask Auth Example</title>
        <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
        <link rel="stylesheet" href="../static/bootstrap4.css">
        <script src="../static/bootstrap.min.js" ></script>
        <script src="../static/Chart.min.js"></script>
    </head>

    <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/dashboard"> ⚡ Meter PH hotlink</a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a href="/dashboard" class="nav-link text-light">
                        Home
                    </a></li>
                <li class="nav-item">
                    <a href="/signup" class="nav-link text-light">
                        Sign Up
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/logout" class="nav-link text-light" >
                        Logout
                    </a>
                </li>
            </ul>

        </div>
    </nav>

            <div class="hero-body">
                <div class="container has-text-centered">
                   {% block content %}
                   {% endblock %}
                </div>
            </div>
        </section>
    </body>
</html>