<!-- templates/login.html -->

{% extends "layout.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <div class="box">
        <div class="container">
            <div class="row">
                <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                    <div class="card card-signin my-5">
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                <div class="alert alert-danger">
                                    {{ messages[0] }}
                                </div>
                            {% endif %}
                        {% endwith %}
                        <div class="card-body">
                            <h5 class="card-title text-center">Sign In</h5>
                            <form class="form-signin" method="POST" action="/login">
                                <div class="form-label-group">
                                    <label for="inputEmail">Email address</label>
                                    <input type="text" name="email" id="inputEmail" class="form-control" placeholder="Email or Username"  >
                                </div>
                                <div class="form-label-group">
                                    <label for="inputPassword">Password</label>
                                    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" >
                                </div>
                                <br>
                                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
                                <br>
                            </form>
                            <a href="/resetrequest">
                                <button class="btn  btn-sm btn-secondary btn-block text-uppercase">Forgot password</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}