{% extends "layout.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <div class="box">
        <div class="container">
            <div class="row">
                <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                    <div class="card card-signin my-5">
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        <div class="alert alert-danger">
                            {{ messages[0] }}
                        </div>
                        {% endif %}
                        {% endwith %}
                        <div class="card-body">
                            <h5 class="card-title text-center">Record Consumption</h5>
                            <form class="form-signin" method="POST" action="/record">
                                <div class="form-label-group">
                                    <label for="inputDate">Date :</label>
                                    <input type="date" name="date" id="inputDate" class="form-control" placeholder="Date" required >
                                </div>
                                <div class="form-label-group">
                                    <label for="inputAmount">Consumption :</label>
                                    <input type="text" name="inputAmount" id="inputAmount" class="form-control" placeholder="Consumption" pattern="[1-9]\d*|0\d+" required>
                                </div>
                                <br>
                                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">submit</button>
                                <br>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}