<!-- templates/login.html -->

{% extends "layout.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <div class="box">
        <div class="container">
            <div class="row">
                <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                    <div class="card card-signin my-5">
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        <div class="alert alert-danger">
                            {{ messages[0] }}
                        </div>
                        {% endif %}
                        {% endwith %}
                        <div class="card-body">
                            {% if token %}
                            <input type="hidden" name="token" value="{{ token }}">
                            {% endif %}
                            <h5 class="card-title text-center">Reset Password</h5>
                            <form class="form-signin" method="POST" action="/login">
                                <div class="form-label-group">
                                    <label for="inputPassword">New Password</label>
                                    <input type="password"  id="inputPassword" class="form-control" name="password" placeholder="New Password"  >
                                </div>
                                <div class="form-label-group">
                                    <label for="inputPasswordAgain">New Password Again</label>
                                    <input type="password" name="password" id="inputPasswordAgain" class="form-control" name="passwordagain" placeholder="New Password Again">
                                </div>
                                <br>
                                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="button">Reset Password</button>
                                <br>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}