<!-- templates/login.html -->

{% extends "layout.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Login</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification is-danger">
                    {{ messages[0] }}
                </div>
            {% endif %}
        {% endwith %}
        <form method="POST" action="/resetrequest">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="email" placeholder="Your Email" autofocus="">
                </div>
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Send Email</button>
        </form>
    </div>
</div>
{% endblock %}