<!-- templates/signup.html -->

{% extends "layout.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-danger">
                    {{ messages[0] }}
                </div>
            {% endif %}
        {% endwith %}
          <div class="card-body">
            <h5 class="card-title text-center">Sign Up</h5>
            <form method="POST" action="/signup" class="form-signin">
              <div class="form-label-group">
                <input type="email" name="email" class="form-control" placeholder="Email address" required autofocus>
              </div>
                <div class="form-label-group">
                <input type="text" name="fname" class="form-control" placeholder="First name" required>
              </div>
                <div class="form-label-group">
                <input type="text" name="sname" class="form-control" placeholder="Last name" required>
              </div>
                <div class="form-label-group">
                <input type="password" name="password" class="form-control" placeholder="Password" required>
              </div>
                <div class="form-label-group">
                <input type="password" name="passwordagain" class="form-control" placeholder="Password again" required>
              </div>
                <div class="form-label-group">
                    <select class="form-control" name="type" required>
                        <option value="0">House</option>
                        <option value="1">Apartment</option>
                    </select>
                </div>
                <div class="form-label-group">
                <input type="number" name="year" class="form-control" placeholder="Year of Construction" required >
              </div>
                <div class="form-label-group">
                <input type="number" name="area" class="form-control" placeholder="Area of the building" required >
              </div>
                <div class="form-label-group">
                <input type="number" name="rooms" class="form-control" placeholder="Number of rooms" required >
              </div>
                <div class="form-label-group">
                    <select class="form-control" name="heating" required>
                        <option value="fuel">Fuel</option>
                        <option value="gas">Gas</option>
                        <option value="electricity">Electricity</option>
                    </select>
              </div>
                <div class="form-label-group">
                <input type="text" name="postal" class="form-control" placeholder="Postal code" required>
              </div>
                <div class="form-label-group">
                <input type="text" name="city" class="form-control" placeholder="City" required>
              </div>
                <div class="form-label-group">
                <input type="text" name="streetname" class="form-control" placeholder="Street" required>
              </div>
                <div class="form-label-group">
                <input type="number" name="streetnum" class="form-control" placeholder="Street number" required>
              </div>
                <div class="form-label-group">
                <input type="text" name="association" class="form-control" placeholder="Association">
              </div>
                <br>
                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign Up</button>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}